/* #### general #### */
.section-header,
label{
    color:green
}
.order-buttons input{
    background-color: green;
}
/* #### end general #### */

/* #### order and work revision div #### */
.work-revision-div {
    display: flex;
    flex-direction: column;
}
.order-revision-div {
    width: 100%;
    display: flex;
    flex-direction: column;
} 
.order-revision-div p , 
.work-revision-div p{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}
.order-revision-div button , 
.work-revision-div button{
    margin: 0px auto 20px;
	width: 100px;
	height: 30px;
	background-color: gray;
	color: white;
	border: none;
}
.presctiption-image{
    width: 200px !important;
}
/* #### end order and work revision div #### */