*{
    font-size: 13pt;
}
form{
    border: 0px solid gray ;
    border-width: 0px 5px 0px;
    display: block;
    width:fit-content;
    margin: 100px auto;
    padding: 20px;
}
label{
    display: inline-block;
    width: 120px;
    text-align: center;
}
input{
    margin-top: 20px;
    height: 30px;
}

input[type="password"],
input[type="text"]{
    width: 75%;
}

input[type="submit"]{
    display: block;
    margin: 20px auto;
    width: 100px;
    color: white;
    background-color: gray;
    border: none;
}