/* #### general #### */
.active-revision:after{
    width: 100% !important;
    background-color: aqua !important;
}
/* #### end general #### */

/* #### container #### */
.container{
    margin: 30px 0px 100px;
}
/* #### end container #### */

/* #### order-data #### */
.order-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 50px auto 0px;
    gap: 30px;
    border-bottom: 5px solid gray;
    padding-bottom: 20px;
}
.order-data > div {
    width: 45%;
}
.order-data  label{
    display: inline-block;
    width: 100px;
}
.order-data input , 
.order-data textarea{
    width: 70%;
    margin-top: 10px; 
    resize: none;
    border:none;
	box-shadow: 0px 0px 5px 1px gray;
    vertical-align: middle;
}
.order-data textarea{
    height: 60px;
}
.order-data img {
    margin: 10px 0px;
    vertical-align: middle;
    width: 50px;
}
/* #### end order-data #### */

/* ####  works #### */
.works{/*all works*/
    
}

.work { 
    border : 3px solid gray;
    width: 90%;
    margin: 30px auto;
}

.work input ,
.work textarea {
    box-shadow: 0px 0px 5px 1px gray;
}

/* lenses */
.lenses{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}
.lens{
    direction: ltr;
    border: 3px solid gray;
    width: 45%;
    margin: 50px auto 20px;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px ;
    position: relative;
}
.lens span {
	position: absolute;
	top: -30px;
	right: 50%;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
.lens label{
    display: block;
    text-align: center;
}
.lens input{
    margin: 10px 0px ;
    width: 70px;
}
/* end lenses */

/* work__data */
.work-data{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.work-data label {
    display: inline-block;
    width: 80px;
}
.work-data input , 
.work-data textarea ,
.work-data img {
    margin: 10px 0px;
    vertical-align: middle;
    resize: none;
}
.work-data textarea {
    height: 120px;
}
.work-data img {
    width: 50px;
}
/* end work__data */

/* work_buttons */
.work-buttons button,
.order-data__revision-button{ /*belong to order data section*/
    display: block;
    margin: 30px auto;
    height: 40px;
    width: fit-content;
    background-color: red;
    color: white;
    border: none;
    padding: 0px 15px;
}

.order-data__revision-button--green{ /*belong to order data section*/
    background-color: green;
}

.work-buttons button:hover,
.order-data__revision-button:hover{ /*belong to order data section*/
    box-shadow: 0px 0px 5px 1px gray ;
}
/* end work_buttons */

/* ####  end works #### */

